<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Захищена зона</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon"> <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        <h1>Вітаємо у захищеній зоні!</h1>
        <p>Ваш email: <%= user.email %></p>
        <p>Ваш ID: <%= user.id %></p>
        <br>
        <a href="/auth/logout">Вийти з системи</a>
    </div>
</body>
</html>