<!DOCTYPE html>
<html>
<head>
    <title>Article Detail</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="container">
        <h1>Деталі статті</h1>
        <p>Ви читаєте статтю з ID: <span class="id-badge"><%= articleId %></span></p>
        <a href="/articles">← Назад до списку</a>
    </div>
</body>
</html>