<!DOCTYPE html>
<html>
<head>
    <title>Articles List</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="container">
        <h1>Статті (EJS)</h1>
        <ul>
            <li>Технології майбутнього</li>
            <li>Основи Express.js</li>
            <li>Як вивчити Node.js</li>
        </ul>
    </div>
</body>
</html>